*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
.baratas{
	height: 100vh;
	width: 100%;
	background-image: url(./assets/mukandoy.png);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 10px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: gray;
	text-decoration: none;
}
nav ul li a:hover {
	color: red;
	transition: .7s;
}
.logosos a{
	font-size: 0;
	display: block;
	    float: right;
	    padding-right: 20px; 
}
.logosos img{
	width: 5vh;
}
.perkenalan{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}
.perkenalan h1{
	font-size: 75px;
	color: grey;
}
.perkenalan h3{
	color: red;
}
.aboutme{
	background-image:url("./assets/grup7.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	padding: 100px 0px;
}
.aboutme h3{
	color: white;
	padding-left: 100px;
	font-size: 2vw;
}
.aboutmetext img{
	height: auto;
	width: 500px;
}
.aboutmetext{
	width: 550px;
}
.aboutmetext{
	width: 1500px;
	max-width: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}
.aboutmetext p {
	color: white;
	font-size:2vw;
	margin: 0 auto;
	padding: auto;
}
.carousel-inner img {
  margin: auto;
}
.pastwork h2{
	padding: 30px 30px;
	float: right;
	font-weight: bold;
	width: 170px;
	text-align: right;
}
.container{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: white;
}
.row{
	border-radius: 35px;
	background: maroon;
	margin-bottom: 100px;
}
.row img{
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	width: 100%;
}
.btn1{
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: white;
	color: darkred;
	border-radius: 4px;
	font-weight: bold;
}
.btn1:hover{
	background: darkred;
	color: white;
	transition: .5s;
}
footer {
	position: relative;
	width: 100%;
	height: 200px;
	background: grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: white;
}